<template>
    <div id="vue-root">
        <datatable :columns="columns" :data="rows"></datatable>
    </div>
<template>
<script>
import router from "../routes";

export default {
  data: {
    columns: [
      { label: "id", field: "id" },
      {
        label: "Username",
        field: "user.username",
        headerClass: "class-in-header second-class"
      },
      { label: "First Name", field: "user.firstName" },
      { label: "Last Name", field: "user.lastName" },
      { label: "Email", field: "user.email" },
      {
        label: "Address",
        representedAs: ({ address, city, state }) =>
          `${address}<br />${city}, ${state}`,
        interpolate: true
      }
    ],
    rows: [
      {
        id: 1,
        user: {
          username: "dprice0",
          firstName: "Daniel",
          lastName: "Price",
          email: "dprice0@blogs.com"
        },
        address: "3 Toban Park",
        city: "Pocatello",
        state: "Idaho"
      }
    ]
  },
  computed: {
    isAuthenticated: function() {
      return this.$store.state.auth.authenticated;
    }
  },
  methods: {
    navRegister: function() {
      console.log("navigatig to sign up");
      router.push("/register");
    },
    navSignOut: function() {
      this.$store.dispatch("signOut");
      router.push("/");
    }
  }
};
</script>

<style>
.aws-logo {
  max-height: 80px;
}
</style>
