<template>
  <v-app>

    <v-toolbar
      color="primary"
      fixed clipped-left app>
      <v-toolbar-side-icon v-if="isAuthenticated" class="white--text" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-spacer></v-spacer>
      <v-btn icon @click="navigate('home')">
        <v-icon class="white--text">home</v-icon>
      </v-btn>
      <v-menu  v-if="isAuthenticated" bottom left class="mr-4 hidden-xs-only">
        <v-btn depressed small color="primary" slot="activator">
          <v-avatar size="24" class="pr-2">
            <img src="/static/avatar_placeholder.png">
          </v-avatar>
          {{ username }}
          <v-icon class="white--text">arrow_drop_down</v-icon>
        </v-btn>
        <v-list>

          <v-list-tile @click="navigate('profile')">
            <v-list-tile-title>User Detail</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="navigate('daily_survey')">
            <v-list-tile-title>Survey Detail</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="navigate('add_survey')">
            <v-list-tile-title>Add Daily Survey</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="navigate('signout')">
            <v-list-tile-title>Sign Out</v-list-tile-title>
          </v-list-tile>

        </v-list>
      </v-menu>
      <v-btn v-if="!isAuthenticated" class="hidden-xs-only white--text" @click="navigate('signin')" flat>Sign In</v-btn>
      <v-menu v-if="!isAuthenticated" bottom left class="hidden-sm-and-up">
        <v-btn icon slot="activator" >
          <v-icon class="white--text">more_vert</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile
            v-if="!isAuthenticated"
            @click="navigate('signin')">
            <v-list-tile-title >
              Sign In
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-footer fixed app>
      <v-layout column align-center justify-center>
        <div class="ml-3">
          <span>&copy; 2018 <a href="https://www.sonabstudios.com">SonabStudios&trade;</a></span>
        </div>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
import router from '../routes'

export default {
  props: {
    sidebar: Boolean,
    path: String
  },
  data: () => {
    return {
      username: '',
      drawer: this.sidebar
    }
  },
  computed: {
    isAuthenticated: function () {
      return this.$store.state.auth.authenticated
    },
    email: function () {
      return this.$store.state.auth.username
    }
  },
  watch: {
    email () {
      console.log('username: ' + this.email)
      var str = this.email
      var index = str.indexOf('@')
      this.username = str.substring(0, index)
    },
    $route (to, from) {
      this.updateSideBar(to.path)
    }
  },
  methods: {
    navSignOut: function () {
      this.$store.dispatch('signOut')
      router.push('/')
    },
    navigate: function (path) {
      router.push('/' + path)
    },
    setActive: function (path) {
    },
    updateSideBar (path) {
      console.log('window.width: ' + window.innerWidth)
      if (window.innerWidth >= 960) {
        this.drawer = path.includes('dash') || false
      } else {
        this.drawer = false
      }
      this.setActive(path)
    }
  },
  created: function () {
    this.setActive(this.path)
    this.updateSideBar(this.path)
  }
}
</script>
<style scoped>
.maincontent {
  border: 1px solid red;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
</style>
